<div class="metrics">   
    
    <div class="metric-row">
    
        <span>Оценка результативности</span>
    
        {% include "components/progress_bar.html" with value=result_score %}
    
    </div>

    
    <div class="metric-row">
    
        <span>Операционная эффективность</span>
    
        {% include "components/progress_bar.html" with value=work_score %}
    
    </div>

    
    <div class="metric-row">
    
        <span>Оценка населения</span>
    
        {% include "components/progress_bar.html" with value=people_score %}
    </div>

    
</div>