{% extends "base.html" %}
{% load static %}

{% block title %}{{ region.name }}{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'main/css/main.css' %}">
<link rel="stylesheet" href="{% static 'regions/css/region_detail.css' %}">
{% endblock %}

{% block content %}
<div style="display: flex; flex-direction: column; gap: 16px;">
    <div style="display: flex; gap:2px;">
        <a href="{% url 'main:mainPage' %}{% if current_view %}?currentView={{ current_view }}{% endif %}">Оценка ></a>
        <span>{{ region.name }}</span>
    </div>
    <div>
        <div style="padding: 32px 48px; gap:20px; align-items: center; display:flex; justify-content:space-between; background:#fff; border-bottom:1px solid #6f6c6c;">
            <h4>{{ region.name }}</h4>
            <div style="display: flex; gap: 16px; flex-direction: column;">
                <div style="display: flex; gap:12px; align-items: center;">
                    {% if region.akim and region.akim.photo %}
                    <img src="{{ region.akim.photo.url }}" alt="Аким" style="width: 40px;height: 40px;border-radius: 50%;border: 1px solid lightgray;object-fit: cover;">
                    {% endif %}
                    <div style="font-weight: 400; font-size: 12px;">{{ region.akim.fio|default:"Аким не назначен" }}</div>
                </div>
                <div>
                    <span style="color: rgb(106, 113, 120);">{{ date_start_string }}</span>
                </div>
            </div>
            {% include "components/region_metrics.html" with segment_scores=region_score.segments_score %}
            <div style="display: flex; flex-direction: column;">
                <span style="font-size: 18px;">Общий балл</span>
                <span style="font-weight: 500; font-size: 30px;">{{ region_score.overall_score|default:"-" }}</span>
            </div>
        </div>
        <div class="blue-navbar" style="display: flex; gap: 10px; padding: 0 48px; background: #fff;">
            <a href="?tabname=priority{% if current_view %}&currentView={{ current_view }}{% endif %}" class="blue-nav-item {% if active_tab == 'priority' %}active{% endif %}" data-tab="priority" style="text-decoration: none;">
                <span>Оценка приоритетных показателей</span>
            </a>
            {% for segment in segments %}
                <a href="?tabname={{ segment.system_name }}{% if current_view %}&currentView={{ current_view }}{% endif %}" class="blue-nav-item {% if active_tab == segment.system_name %}active{% endif %}" data-tab="{{ segment.system_name }}" style="text-decoration: none;">
                    <span>{{ segment.label }}</span>
                </a>
            {% endfor %}
        </div>
        {% if active_tab == 'priority' %}
            {% for item, value in priority_indicators %}
                {% include "indicators/priority_indicator_card.html" with index=forloop.counter label=item.indicator.label score=value measurement_unit=item.indicator.measurement_unit %}
            {% endfor %}
        {% else %}
            <div style="display: flex;">
            </div>
        {% endif %}
    </div>
</div>

{% endblock %}