<div class="container region-list" style="padding-left:0; padding-right:0;">
        {% if regions|length == 0 %}
            <div class="alert alert-info" role="alert">
                Нет данных для отображения.
            </div>
        {% else %}
            {% for region in regions %}
                <a href="{% url 'main:rapRegionDetailPage' region_id=region.id %}{% if currentView %}?currentView={{ currentView }}{% endif %}" style="text-decoration: none; color: inherit;display: block;">
                    <div class="region-card">
                        <div class="region-left">
                            {{ region.name }}
                        </div>

                        <div class="region-right">
                            {% include "components/region_metrics.html" with segment_scores=region.segment_scores %}
                            <div class="region-right-score">
                                <div style="font-size: 18px;">Общий балл</div>
                                <div style="font-weight: 500; font-size: 30px;">{{ region.overall_segment_score|default:"-" }}</div>
                            </div>
                        </div>
                    </div>
                </a>
            {% endfor %}
        {% endif %}
    </div>